/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Pane {
    -fx-background-color: #ffffff;
}
.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

.cerrar {
  -fx-background-color: linear-gradient(to bottom, #d9344a, #b82bb3);
  -fx-border-radius: 3;
  -fx-font-family: Arial;
  -fx-font-size: 14px;
  -fx-text-fill: #ffffff;
}
 
.cerrar:hover {
  -fx-background-color: linear-gradient(to bottom, #ff7a7a, #d364d9);
}

.estado{
	-fx-font-style: oblique ;
	-fx-fill: rgb(20,245,7);
}